<template>
    <md-dialog ref="register-dialog">
        <md-layout md-align="center" md-gutter="16">
            <md-card class="register">
                <md-card-header>
                    <span class="md-display-1">{{title}}</span>
                </md-card-header>
                <md-card-content>
                    <form novalidate @submit.stop.prevent="submitRegister">
                        <md-input-container>
                            <label>Name</label>
                            <md-input v-model="name" disabled></md-input>
                            <md-icon>person</md-icon>
                        </md-input-container>
                        <md-input-container>
                            <label>Age</label>
                            <md-input v-model="age" type="number"></md-input>
                            <md-icon>cake</md-icon>
                        </md-input-container>
                        <div>
                            <md-radio v-model="gender" id="alien_gender" name="gender" md-value="0">
                                Alien
                            </md-radio>
                            <md-radio v-model="gender" id="male_gender" name="gender" md-value="1">
                                Male
                            </md-radio>
                            <md-radio v-model="gender" id="female_gender" name="gender" md-value="2">
                                Female
                            </md-radio>
                        </div>
                        <md-input-container md-has-password>
                            <label>Password Reveal</label>
                            <md-input type="password" v-model="password"></md-input>
                        </md-input-container>
                        <md-input-container>
                            <label>Location</label>
                            <md-input v-model="location" type="text"></md-input>
                            <md-icon>location_city</md-icon>
                        </md-input-container>
                    </form>
                </md-card-content>
                <md-card-actions>
                    <md-button @click="closeRegistration()">Cancel</md-button>
                    <md-button @click="submitRegister()">Save</md-button>
                </md-card-actions>
            </md-card>
        </md-layout>
    </md-dialog>

</template>

<script>
    export default {
        props: ['title', 'update_url', 'token'],
        data: function () {
            return {
                name: "",
                age: 13,
                location: '',
                gender: 0,
                password: ''
            }
        },
        name: 'sn-registration',
        methods: {
            submitRegister: function () {
                var self = this;
                $.ajax({
                    url: self.update_url,
                    type: "PUT",
                    dataType: "json",
                    data: {
                        "_token": self.token,
                        "id": self.user_id,
                        "name": self.name,
                        "age": self.age,
                        "location": self.location,
                        "gender": self.gender,
                        "password" : self.password
                    }
                }).done(function (response) {
                    $.alert("Success");
                    self.$refs['register-dialog'].close();
                });
            },
            openRegistration: function (id, user) {
                this.user_id = id;
                this.name = user.name;
                this.age = user.details.age;
                this.location = user.details.locale;
                if (user.details.gender === 'male') {
                    this.gender = 1;
                } else if (user.details.gender === 'female') {
                    this.gender = 2;
                } else {
                    this.gender = 0
                }
                this.$refs['register-dialog'].open();
            },
            closeRegistration: function () {
                this.$refs['register-dialog'].close();
            }

        }
    };
</script>
<style>
    .register {
        min-width: 400px;
        align-self: center;
        padding: 10px;
    }
</style>