<template>
    <md-list class="custom-list md-triple-line">
        <md-list-item v-for="user in users" :key="user.id">
            <md-avatar>
                <img :src="user.cover" alt="People">
            </md-avatar>
            <div class="md-list-text-container">
                <span>{{user.name}}</span>
                <span>{{user.email}}</span>
            </div>
            <md-button class="md-icon-button md-list-action">
                <md-icon class="md-primary">star</md-icon>
            </md-button>

            <md-divider class="md-inset"></md-divider>
        </md-list-item>
    </md-list>
</template>
<script>
    export default {
        props: [
            "url_user_list"
        ],
        data: function () {
            return {
                users: []
            }
        },
        created: function () {
            this.loadList();
        },
        name: 'users-admin',
        methods: {
            loadList(){
                let self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: self.url_user_list
                }).done(function (response) {
                    self.users = response.users;
                })
            }
        }
    }
</script>