<template>
    <v-select multiple
              :debounce="250"
              :on-search="getOptions"
              :options="options"
              placeholder="Select seems words"
              label="name"
              v-model="tags"
              style="width: 100%"
    >
    </v-select>
</template>
<script>
    export default {
        props: ['tags'],
        data: function () {
            return {
                options: []
            }
        },
        name: 'word-tags',
        methods: {
            getOptions: function (search) {
                if (search.length <= 2) {
                    return false;
                }
                let self = this;
                axios.post("/word/find", {
                    "_token": CSRF_TOKEN,
                    "word": search
                }).then(function (response) {
                    if (response.data) {
                        self.options = response.data.words;
                    }
                });
            },
        }
    };
</script>