<style>
    .md-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-72%, -50%);
        width: 46px;
        height: 46px;
    }
</style>
<template>
    <md-table>
        <md-table-row>
            <md-table-head md-numeric>Name</md-table-head>
            <md-table-head>Avatar</md-table-head>
            <md-table-head>Email</md-table-head>
            <md-table-head>Age</md-table-head>
            <md-table-head>Gender</md-table-head>
            <md-table-head>Role</md-table-head>
            <md-table-head>Actions</md-table-head>
        </md-table-row>

        <md-table-row v-for="user in users" :key="user.id">
            <md-table-cell>{{user.name}}</md-table-cell>
            <md-table-cell>
                <md-avatar>
                    <img :src="user.cover" alt="Avatar">
                </md-avatar>
            </md-table-cell>
            <md-table-cell>{{user.email}}</md-table-cell>
            <md-table-cell>
                <md-field>
                    <label>Initial Value</label>
                    <md-input v-model="user.details.age" type="number"></md-input>
                </md-field>
            </md-table-cell>
            <md-table-cell>
                <md-field>
                    <md-select v-model="user.details.gender" >
                        <md-option value="male">Male</md-option>
                        <md-option value="alien">Alien</md-option>
                        <md-option value="female">Female</md-option>
                    </md-select>
                </md-field>
            </md-table-cell>
            <md-table-cell>
                <md-field>
                    <md-select v-model="user.role_id">
                        <md-option :value="role.id" v-for="role in roles" :key="role.id">{{role.name}}</md-option>
                    </md-select>
                </md-field>
            </md-table-cell>
            <md-table-cell>
                <md-button class="md-icon-button md-raised" @click="saveThisUser(user)">
                    <md-icon>save</md-icon>
                </md-button>
                <md-button
                        @click="securityAuth(user)"
                        class="">
                    Auth
                </md-button>
            </md-table-cell>
        </md-table-row>
    </md-table>
</template>
<script>
    export default {
        name: 'users-dashboard',
        props: [
            "url_users",
            "save_url",
            "roles_url",
            "auth_url"
        ],
        data: function () {
            return {
                users: [],
                roles: [],
            }
        },
        mounted: function () {
            this.loadUserList();
            this.loadRoles();
        },
        methods: {
            loadRoles() {
                let self = this;
                axios.get(self.roles_url).then(function (response) {
                    let data = response.data;
                    self.roles = data.roles;
                    console.log(self.roles);
                });
            },
            saveThisUser(user) {
                let self = this;
                $.ajax({
                    type: "put",
                    dataType: "json",
                    url: self.save_url,
                    data: {
                        user: user,
                        _token: CSRF_TOKEN
                    }
                }).done(function (response) {

                }).always(function () {
                });
            },
            loadUserList: function () {
                var self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: self.url_users
                }).done(function (response) {
                    self.users = response.users;
                });
            },
            securityAuth: function (user) {
                let self = this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: self.auth_url,
                    data: {
                        user_id: user.id,
                        "_token": CSRF_TOKEN
                    }
                }).done(function (response) {
                    if (response.redirect) {
                        setTimeout(function () {
                            window.location.href = response.redirect;
                        }, 2000);
                    }
                });
            }
        }
    }
</script>