// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "scss/font-awesome";

@media (max-width: 484px) {
  .hidden-xs {
    display: none;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.holder:hover {
  animation: rotate 0.7s infinite linear;
  -moz-animation: rotate 0.7s infinite linear;
  -webkit-animation: rotate 0.7s infinite linear;
}

.holder {
  box-shadow: 0 0 1px;
  z-index: 2;
}

.holder i {
  top: 0 !important;
}

.active {
  background-color: #607d8b !important;
  color: white;
}

.list-item-circle {
  width: 31px;
  height: 31px;
  display: block;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 3px;
  cursor: pointer;
  transition: .3s;
  font-family: inherit;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  background-color: white;
}

.list-item-circle:hover {
  box-shadow: 0 0 10px;
  transform: scale3D(1.2, 1.2, 1);
}

#bottom_bar {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  z-index: 20;
}

#content {
  padding-bottom: 80px;
}

.liked i {
  color: #2ecc71 !important;
}

.disable {
  background-color: #e74c3c !important;

}

.disable i {
  color: #ecf0f1 !important;
}

.submitted {
  background-color: #2ecc71 !important;
}

.submitted i {
  color: #ecf0f1 !important;
}

.md-list-text-container > * {
  white-space: inherit !important;
}

.md-like {
  color: #e74c3c !important;
  font-size: .6em;
}

.md-comment {
  color: #2ecc71 !important;
  font-size: .6em;
}

.user_button {
  cursor: pointer;
  color: #2c3e50;
  transition: .2s;
}

.user_button:hover {
  color: #8e44ad;
  font-weight: bold;
  text-decoration: underline;
}

.md-list.md-triple-line .md-list-item .md-list-item-container {
  /*min-height: inherit !important;*/
}
