@import "node_modules/bootstrap/scss/bootstrap";
@import "scss/font-awesome";
body {
  background-color: #a4a4a4 !important;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #343a40 !important;
  background: linear-gradient(to bottom, #343a40 20%, #a4a4a4);
  display: table;
}

#content {
  width: 100%;
  display: block;
  padding: 20px;
  padding-top: 100px;
}

.page-title {
  display: table-row;
  text-align: center;
}

.title {
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 36pt;
}

.small-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 24pt;
}

.progress {
  margin: 24px auto;
  border-radius: 50px;
  height: 94px !important;
  transition: .1s;
  outline: none;
  width: 70vw;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
}

.word-finder {
  border: none;
  margin: 24px;
  padding: 25px 50px;
  font-size: 36px;
  border-radius: 50px;
  transition: .4s;
  outline: none;
  width: 70vw;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
  font-family: 'Exo 2', sans-serif;
}

.word-finder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.word-finder::-moz-placeholder { /* Firefox 19+ */
  color: #888;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.word-finder:-ms-input-placeholder { /* IE 10+ */
  color: #888;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.word-finder:-moz-placeholder { /* Firefox 18- */
  color: #888;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.row-card {
  background-color: #fff;
  position: relative;
  -webkit-box-direction: normal;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  padding: 20px;
  box-shadow: 0 5px 10px -10px #000;
  margin-bottom: 20px;
}

.row-card-sub {
  padding: 10px;
}

.word-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  box-shadow: 0 5px 5px -5px #000;
  padding-bottom: 5px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.footer {
  padding: 20px;
  background-color: #343a40;
  color: #bbb;
  font-family: 'Exo 2', sans-serif;
}

.footer .logo {
  color: #eee;
  font-size: 110%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0
}